@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background-color: #f9fafb;
    color: darkgrey;
    transition: 0.3s;
    line-height: 1.6;
    font-size: 25px;
    line-height: 1.5;
}

p {
  margin-left: 10px;
  font-size: 18px;
}

.gray {
    background-color: darkgrey;
    color: #2e7d32;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2e7d32;
    margin-left: 10px;
}

nav a {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    transition: 0.3s;
    color: black;
}

img {
    width: 250px;
    height: 150px;
     max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-left: 10px;
}
 .theme{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
     position: fixed;
    top: 20px;       
    right: 20px;     
    z-index: 100;
    padding: 3px;
    transition: 0.3s;
}

.hamster-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.themeBtn:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav a:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav a:visited {
    color: black;
}

h1, h2 {
  color: #2e7d32; /* зелений = енергія */
  margin-top: 40px;
  margin-left: 10px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  border-left: 6px solid #66bb6a;
  padding-left: 12px;
  font-size: 28px;
}

h3{
  border-left: 6px solid #66bb6a;
  padding-left: 12px;
  font-size: 22px;
  margin-left: 10px;
  color: #2e7d32;
}
.section {
  background: #fff;
  border-radius: 16px;
  padding: 35px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.hamster-gallery img {
    width: 250px;
  transition: transform 0.3s;
}

.hamster-gallery img:hover {
  transform: scale(1.05);
}

:root {
  --green: #2e7d32;
  --yellow: #fbc02d;
}

.hamster-gallery :first-child {
  margin-left: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2e7d32;
  color: white;
  margin-top: 40px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    
    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;
    background-color: #f9fafb;
    font-size: 22px;
    cursor: pointer;

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: all 0.4s ease;
    z-index: 999;
}
#scrollTopBtn.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#scrollTopBtn:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
}
