@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.gray {
    background-color: grey;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: darkgray;
}

nav a {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    transition: 0.3s;
    color: black;
}

img {
    width: 250px;
    height: 150px;
}
button {
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    top: 0px;
    right: -1400px;
    padding: 5px;
    transition: 0.3s;
}

.hamster-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav a:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav a:visited {
    color: black;
}


